<ion-content fullscreen color="primary">
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-img src="../../assets/icon/views/register.svg" alt="Registro de usuarios" style="margin: 0 auto; max-width: 300px; height: auto;"></ion-img>
          </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" sizeMd="6" sizeLg="4">
              <h1>Una aplicacion dónde tendras a tu mascota vigilada y segura!</h1>
          </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" sizeMd="6" sizeLg="4">
              <form color="light" >
                  <ion-item class="item-inicial">
                    <ion-label position="stacked">FRECUENCIA CARDIACA</ion-label>
                    <ion-input ></ion-input>
                  </ion-item>
                  <ion-item class="item">
                    <ion-label position="stacked">FRECUENCIA RESPIRATORIA</ion-label>
                    <ion-input ></ion-input>
                  </ion-item>
                  <ion-item class="item">
                    <ion-label position="stacked">SATURACION DE OXIGENO</ion-label>
                    <ion-input ></ion-input>
                  </ion-item>
                  <ion-item class="item">
                    <ion-label position="stacked">ELECTROCARDIOGRAMA</ion-label>
                    <ion-input ></ion-input>
                  </ion-item>
                  <ion-item class="item">
                    <ion-label position="stacked">INDICE DE SHOCK</ion-label>
                    <ion-input ></ion-input>
                  </ion-item>
                  <ion-item class="item-final">
                    <ion-label position="stacked">TEMPERATURA</ion-label>
                    <ion-input ></ion-input>
                  </ion-item>
              </form>
              <br>
              <ion-button shape="round" expand="full" color="tertiary" (click)="electro()">
                Ver Electrocardiograma
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>