<ion-header>
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center ion-justify-content-center" style="margin-top: 15vh">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card>
          <div (click)="inicio()">
            <ion-img style="border-radius: 17px; max-width: 300px; margin: 0 auto;" src="../../assets/icon/views/logoBiocan.png" alt="BIOCAN  "></ion-img>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
