<ion-header>
</ion-header>
<ion-content fullscreen scroll-y="false" color="light">
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div style="width: 100vw; height: 10vh;"></div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <div class="slide">
              <img style="max-width: 320px; height: auto; margin: 0 auto;" src="../../assets/icon/views/welcome.svg" />
              <h5>Registrate</h5>
              <small>
                Busca, elige, controla todo desde aquí
              </small>
              <br>
              <button class="boton" (click)="registrar()">
                Registrar
              </button>
              <button class="boton" (click)="buscar()">
                Buscar
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

